

/* The Modal (background) */

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 6.26rem; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
#registerModal {
  display: block;
  
}

.register-box{
  min-width:  100%;
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 1.25rem;
  border: 0.0625rem solid #888;
  width: 80%;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 1.75rem;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

/* Register nav button */

.my-icon-text:hover{
  text-decoration: underline;
  cursor: pointer;
}

/* Other Login Form elements */


.errorlist {
  padding-inline-start: 0;
  color: rgb(220, 53, 69);
  display: inline;
  font-family: -apple-system, "system-ui", "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 0.8rem;
  font-weight: 700;
}

.login-username-field,
#id_password {
    margin-bottom: 0.9375rem;
  }

@media (min-width:36rem){
  .login-username-field,
  input#id_password.textinput.textInput.form-control {
    margin: 0.95rem;
  }

  #id_password {
    margin-left: 1.18rem;
  }
}

.register-link{
  text-align: center;
}

.form-group{
  padding: 0.625rem;
}

#register-submit{
  margin-top: 1.25rem;
}



.hidden {
  display:none;
}

svg {
  pointer-events: none;
}


/* Navbar Elements */
.nav-container {
  width: 100vw;
  background-color: #f8f9fa;
}

.my-nav-bar {
  display: flex;
  flex-wrap: wrap;
}

.main-logo {
  height: 4.375rem;
  width: 13.875rem;
}

.icons {
  margin-right: 0.625rem;
  display: flex;
  justify-content: space-evenly;
  width: 35%;
}
.search {
  margin-right: auto !important;
  margin-left: auto !important;
}

#search-box {
  width: 29vw !important;
  margin-right: 0.625rem;
}
.my-flex-container {
  display: flex;
  justify-content: center;
  margin-top: 0.9375rem;
}

.icon-block {
  padding: 0, 0.3125rem;
}

.my-icon {
  width: 1.875rem;
  height: 1.875rem;
}

.my-icon-text {
  text-align: center;
  font-size: x-small;
  font-weight: 300;
  white-space: nowrap;
  color: black;
}

.search-bar {
  margin-bottom: 0.625rem;
}

.search {
  padding-left: 0.5%;
  min-width: 20.625rem;
  display: flex;
  flex-wrap: nowrap;
}

.profile-pic {
  object-fit: contain;
  margin-left: 0;
}

/* at 970 px search bar drops to row 2. Icons width is increased again. search input box fills most of viewport width. Main logo and svgs stick to left and right of viewport */
@media (max-width: 60.625rem) {
  .icons {
    width: 55%;
    margin-left: auto !important;
  }
  .search {
    order: 2;
  }
  #search-box {
    width: 83vw !important;
    margin-right: 0.625rem;
    margin-left: 0.625rem;
  }
  .search-btn {
    margin: 0.625rem;
  }
}
/* at 800 px. Search bar drops to row 2. Icons width is increased again. search input box fills most of viewport width. Main logo and svgs stick to left and right of viewport */

/* at 530 px. Svgs wrap onto next line and fill up viewport width. Remove search bars margin. Main logo svg fills viewport width so it is now center justified.  */
@media (max-width: 33.125rem) {
  .main-logo {
    min-width: 90vw;
  }
  .icons {
    width: 100vw;
  }
  .my-flex-container {
    /* margin-top: 0; */
    height: 1.875rem;
  }
  .my-icon {
    margin: 0;
  }
  .search {
    margin: 0 !important;
    padding-left: 0;
  }
}


/* recipe view */


.viewport-container{
  width:100vw;
  padding: 2.2vw;
}

.container-fluid {
  padding: 0;
  width: 100%;
}

.front-page-link {
  font-family: 'Roboto', sans-serif;
  font-size: 0.9rem;
  color:black;
  padding: 0.625rem 0;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  width: 33vw;
  
}

.strapline {
  font-size: 1.6rem;
  margin-top: -2.3rem;
}

.recipe-image {
  object-fit: cover;
}

.thumbnail_container:hover .recipe-image-scale{
  transition: .3s ease-in-out;
  transform: scale(1.1); 
}


.thumbnail_container{
  overflow: hidden;
}



/* When there are 4 recipes in a row */
@media (min-width: 48rem) {
  .recipe-image {
    width: 22.5vw;
    height: 22.5vw;
  }
  .thumbnail_container {
    height: 22.5vw;
    width: 22.5vw;
  }
  .front-page-link {
    width: 22.5vw;
  }
}
/* When there are 3 recipes in a row */
@media (max-width: 48rem) and (min-width: 36rem) {
  .recipe-image {
    width: 29vw;
    height: 29vw;
  }
  .thumbnail_container {
    height: 29vw;
    width: 29vw;
  }
  .front-page-link {
    width: 29vw;
  }
}
/* When there are 2 recipes in a row */
@media (max-width: 36rem){
  .recipe-image {
    width: 44vw;
    height: 44vw;
  }
  .thumbnail_container {
    height: 44vw;
    width: 44vw;
  }
  .front-page-link {
    width: 44vw;
  }
}

/* Recipe Form */
@media (max-width: 37.5rem){
  .requiredField[for="id_serves"] {
  /* font-size: 0.625rem; */
  margin-left: -1.25rem;
  }
}

.requiredField[for="id_cooking_time_units"],
.requiredField[for="id_prep_time_units"] {
  /* font-size: 0.625rem; */
  color: white;
  }


.add-recipe-title{
  padding-left: 0.625rem;
} 


.asteriskField {
  display: none;
}


textarea.form-control {
  height: 3.75rem;
}

.form-container {
  margin:1.875rem;
}

/* .ingredient-form{
  padding-top:1.25rem;
} */

[for=id_direction-0-direction]{
  margin-top:1.25rem;
}

.form-row,
#div_id_image {
  padding-bottom: 1.25rem;
}

.ingredient-form {
  padding-bottom: 0.3125rem;
}

.invalid-feedback{
  white-space: nowrap;
}

#add-ingredient,
#add-direction  {
  /* margin-left: 80vw; */
  
  
  margin-bottom: 0 !important;
  width: 8.75rem;
  /* margin-top: 0.625rem;
  font-size: 0.9375rem;
  height: 40px; */
}

#add-direction {
  margin-top: 0.3125rem !important;
}

.method-form-title{
  margin-top: 1.25rem;
  margin-bottom: 0;
}

.number-step {
  text-align: center;
}


.form-group,
.number-step,
.bin-btn,
.add-btn {
  align-self: center;
  margin-bottom: 0;
}

.form-group.col-10 {
  margin-top: 0.625rem;
}


.add-form,
.delete-form{
  display: flex;
  justify-content: center;
  align-content: center;
}

@media (min-width: 31.25rem) {
  .add-form,
  .delete-form{
      width: 2.3125rem;
      flex: 2.3125rem;
      max-width: 2.3125rem;
  }
  .ing-field{
    width: calc(58% - 2.3125rem);
    flex: calc(58% - 2.3125rem);
    max-width: calc(58% - 2.3125rem);
  }
  .dir-field{
    width: calc(87% - 2.3125rem);
    flex: calc(87% - 2.3125rem);
    max-width: calc(87% - 2.3125rem);
  }
}

.delete-form,
.add-form {
  cursor: pointer;
}


.bin-btn,
.add-btn {
  height: 1.4375rem;
  padding: 0;
  width: 1.4375rem;
}

.bin-btn {
  display: none;
}

.ing-bin,
.ing-add {
  margin-top: 1.875rem;
}

.number-step {
  width: 4.16%; 
  flex: 0 0 4.16%; 
  max-width: 4.16%;
}

/* Recipe view */

.method-container{
  max-width: 85vw !important;
}



.title-container{
  /* text-align: center; */
  margin: 1.25rem;
  margin-bottom: 2.5rem;
}

.title-container1{
  display: none;
}

.recipe-title{
  font-family: 'Encode Sans Condensed', sans-serif; 
  font-size: 3.75rem;
  color: #24323F;
  margin-bottom: 1.25rem;
  margin-left: 1.25rem;
  margin-right: 1.25rem;
  margin-top: -1.0625rem;
  font-weight: 500;

}
.recipe-info-outer{
  margin-bottom: 1.25rem;
  margin-left: 1.25rem;
  margin-right: 1.25rem;
  margin-top: -0.625rem;
}

.row-container{
  /* width: 31.25rem; */
  flex: 4;
  flex-grow: 4;
  min-width: 31.25rem;
  /* margin-left: 1.25rem; */
  
}

.ingredients-list{
  margin-bottom: 1.25rem;
}

.ingredients-title {
  margin-bottom: 1.25rem;
}

.ingredient-container {
  display: inline-block;
}

.ingredient-column {
  column-count: 2;
  padding: 0 0.625rem;
  max-width: 31.25rem;
}

@media (max-width: 34.375rem){
  .ingredient-column {
    column-count: 1;
  }
}



.recipe-container{
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-items: center;
  justify-content: space-between;
  max-width: 100vw;
  font-family: 'Roboto', sans-serif;
  /* color:rgb(33, 37, 41) */
}

.recipe-row-flex-container{
  display:block;
  /* height: 100vh; */
}

.recipe-image-container{
  display: flex;
  flex-direction: row;
  /* width: 50%; */
  margin-bottom: 1.875rem;
}

.recipe-main-image{
  object-fit: cover;
  flex: 1;
  margin-right: 1rem;
  overflow: hidden;
}


.recipe-info{
  display: flex;
  flex-direction: row;
  align-content: center;
  align-items: center;
}

.recipe-info-text{
  align-self:center;
  margin-bottom: 0;
  margin-left: 0.4375rem;
  margin-right: 0.9375rem;
}


@media (max-width: 34.375rem){
  .recipe-info-outer{
    display:block
  }
  .ingredients,
  .method-container {
    margin-left: 1.25rem;
  }
  
}

hr {
  border-color: #727976;
  color: #727976;
  border-top-color: #727976;
  border-radius: 0.0625rem;
  border-top: 0.125rem solid #727976;
  }

.vl {
  border-left: 0.125rem solid #727976;
  height: 80vh;
  margin: 1.25rem;
}

.method-title {
  padding-bottom: 0.9375rem;
}


  
  .method-step{
    display: flex
  }

  .number{
    flex: 5%
  }

  .step{
    flex: 95%
  }


/* Find Friends */

.section-title{
  font-weight: 500; 
  font-size: 1.875rem;
}

.currently-following-title,
.my-recipes-title,
.find-friends-title{
  margin-bottom: 0;
}

.profile-container{
  align-items: center;
  display: flex;
  margin: 0.3125rem;
  padding: 0.3125rem;
  background: #f7f7f7;
  border-radius: 0.625rem
}

.form-contents{
  display: flex;
  align-items: center;
}

.find-friend-input{
  margin-right: 1.25rem;
}

.profile-icon {
  width: 3.5rem;
  height: 3.5rem;
}

.profile-name-container{
  min-width: 5.625rem;
  padding-left: 0.625rem;
}

.follow-btn-container{
  margin-right:0.625rem;
  margin-left: auto;
}



/* Profile page */

.profile-page-container{
  margin:1.25rem;
}

.profile-header{
  display: flex;
  flex-direction: row;
}
.personal-info{
  margin-bottom: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0.625rem;
}
.my-profile-icon{
  width:9.375rem;
  height: 9.375rem;
}

.my-username{
  font-weight: 500; 
  font-size: 1.25rem;
  text-align: center;
}

.currently-following{
  padding-left: 4.375rem;
}

.container-overlay{
  position: relative;
}



.container-overlay::after{
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-image: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(0,0,0,0.7) 98%);
}

.anchor-grid{
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  display:grid;
  grid-template-columns: 75% 25%;
  grid-template-rows: 75% 25%;
  grid-template-areas: 
        "header header"
        "big-footer footer"
}

.anchor-1{
  grid-area: header;
  width: 100%;
  height: 100%;
}

.anchor-2{
  grid-area: header;
  width: 100%;
  height: 100%;
}

.anchor-3{
  grid-area: big-footer;
  width: 100%;
  height: 100%;
}

.anchor-4{
  grid-area: footer;
  width: 100%;
  height: 100%;
  position: relative;
}

.edit-svg{
  width: 100%;
  height: 100%;
}

.anchor-4:hover .edit-grey{
  display: none;
}

/* .anchor-4:hover .edit-svg-white{
  display: inline-block;
} */