{% load static %}
{% load crispy_forms_tags %}
<!DOCTYPE html>
<html>
  <head>
    <title>{% block title %}Recimies{% endblock %}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <script src="{% static 'js/jquery-3.3.1.min.js'%}"></script>
    <script src="{% static 'js/bootstrap.min.js'%}"></script>
    {% block script %}
    {% endblock %}
    <link  href="{% static 'css/bootstrap.min.css'%}" rel="stylesheet"/>
    <link  href="{% static 'css/bootstrap-grid.min.css'%}" rel="stylesheet"/>
    <link  href="{% static 'css/site.css'%}" rel="stylesheet"/>
   
    <link href="https://fonts.googleapis.com/css?family=Roboto:100, 300, 400, 500, 700, 900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Encode+Sans+Condensed:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap" rel="stylesheet">



  </head>
  <body>
    <div class="nav-container">
      <nav class="my-nav-bar">
        <svg class="main-logo">
          <use href="{% static 'site_img/logos/icons.svg' %}#logo"></use>
        </svg>

        <form method="GET" action="{% url 'index' %}"class="search form-inline my-2 my-lg-0">
          <input
            id='search-box'
            class="form-control mr-sm-2"
            type="search"
            placeholder="Search"
            aria-label="Search"
            name="q" 
            value="{{ request.GET.q }}"
          />
          
          <input
            class="recipe-search button search-btn btn btn-outline-success my-2 my-sm-0"
            type="submit"
            value="Search"
          >
          </input>
        </form>
        <div class="icons">
          <a href="{% url 'index' %}">
            <div class="icon-block">
              <div class="my-flex-container">
                <svg class="my-icon">
                  <use href="{% static 'site_img/logos/icons.svg' %}#home"></use>
                </svg>
              </div>
              <p class="my-icon-text">Home</p>
            </div>
          </a>
          {% if user.is_authenticated %}
          <a href="{% url 'usersearch' %}">
            <div class="icon-block">
              <div class="my-flex-container">
                <svg class="my-icon">
                  <use
                    href="{% static 'site_img/logos/icons.svg' %}#search"
                  ></use>
                </svg>
              </div>
              <p class="my-icon-text">Find Friends</p>
            </div>
          </a>
          <a href="{% url 'new_recipe' user_pk=user.pk %}">
            <div class="icon-block">
              <div class="my-flex-container">
                <svg class="my-icon">
                  <use
                    href="{% static 'site_img/logos/icons.svg' %}#new-recipe"
                  ></use>
                </svg>
              </div>
              <p class="my-icon-text">Add Recipe</p>
            </div>
          </a>
          <a href="{% url 'logout' %}">
            <div class="icon-block">
              <div class="my-flex-container">
                <svg class="my-icon">
                  <use
                    href="{% static 'site_img/logos/icons.svg' %}#log-out"
                  ></use>
                </svg>
              </div>
              <p class="my-icon-text">Log out</p>
            </div>
          </a>
          <a href="{% url 'profile' user_pk=user.pk %}">
            <div class="profile icon-block">
              <div class="my-flex-container">
                <image
                  class="my-icon"
                  src="{% static 'site_img/profile.png' %}"
                ></image>
              </div>
              <p class="my-icon-text">{{user}}</p>
            </div>
          </a>
        </div>
      </nav>
    </div>
    
    

    {% else %}
          <!-- <a href="{% url 'register' %}"> -->
            <div class="sign-in icon-block">
              <div class="my-flex-container">
                <svg class="my-icon">
                  <use
                    href="{% static 'site_img/logos/icons.svg' %}#log-in"
                  ></use>
                </svg>
              </div>
              <p class="my-icon-text">Log In/Register</p>
            </div>
          <!-- </a> -->
        </div> 
      </nav>
    </div>
    
    
    {% endif %}

    {% block content %}{% endblock %}

    <div id="footer">
      <br/>
      <br/>
      <small>Copyright Alexandra Dover and James Stevenson {% now "Y" %} </small>
    </div>
    </html>
    </body>
    </html>