{% extends 'base.html' %}
{% load static %}
{% block title %}Recimies: Profile{% endblock %}
{% block content %}
  <h4>Hello {{ object.username }}</h4>
    
  <h5>Your recipes:</h5>
  
  <div class="viewport-container">
    <div class="container-fluid">
      <div class="row">
        {%  for recipe in object.recipes.all %}
        <a
            href="{% url 'recipe' recipe_pk=recipe.pk %}"
            >
          <div class="col-md-3 col-sm-4 col-6">
            <div class="thumbnail_container">
              <img class="recipe-image" src="/{{recipe.image_url}}"" />
            </div>
            <a
              class="front-page-link"
              
              >{{recipe.name}}
            </a>
          </div>
        </a>
      </div>
    </div>
    </div>
  {% endfor %}
{% endblock %}

