{% extends 'base.html' %}
{% load static %}
{% block title %}Recimies: Profile{% endblock %}
{% block content %}

      <!-- <use
        href="{% static 'site_img/logos/icons.svg' %}#view"
      ></use> -->


<div class="viewport-container">
  <div class="profile-page-container">
    <div class="profile-header">
      <div class="personal-info">
        <image class="my-profile-icon" src="{% static 'site_img/profile.png' %}"></image>
        <p class="my-username">{{user}}</p>
      </div>
      <div class="currently-following">
        <p class="section-title currently-following-title"> Following</p>
        <div class="container-fluid">
          <div class="row">
            {% for friend in object.friends.all %}
            <!-- list of user links -->
            <div class="col-lg-3 col-md-4 col-sm-6 col-12">
              <div class="profile-container">
                <div class="profile-pic-container">
                  <image class="profile-icon" src="{% static 'site_img/profile.png' %}">
                  </image>
                </div>
                <div class="profile-name-container">
                  {{friend}} 
                </div>
              </div>
            </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
    <p class="section-title my-recipes-title">My Recipes</p>
  </div>   
  <div class="container-fluid">
    <div class="row">
      {%  for recipe in object.recipes.all %}
        <div class="col-md-3 col-sm-4 col-6">
          <div class="thumbnail_container container-overlay">
              <img class="recipe-image recipe-image-scale recipe-image-overlay" src="/{{recipe.image_url}}" />
              
                <div class="anchor-grid">
                  <a href="{% url 'recipe' recipe_pk=recipe.pk %}">
                    <div class="anchor-1"></div>
                  </a>
                  <a href="{% url 'recipe' recipe_pk=recipe.pk %}">
                    <div class="anchor-2"></div>
                  </a>
                  <a href="{% url 'recipe' recipe_pk=recipe.pk %}">
                    <div class="anchor-3"></div>
                  </a>
                  <div class="anchor-4">
                    <a href="{% url 'new_recipe' user_pk=user.pk %}">
                      <svg class="edit-svg edit-grey">
                        <use
                          href="{% static 'site_img/logos/icons.svg' %}#edit-recipe-grey"
                        ></use>
                      </svg>
                      <svg class="edit-svg edit-white">
                        <use
                          href="{% static 'site_img/logos/icons.svg' %}#edit-recipe-white"
                        ></use>
                      </svg>
                    </a>
                  </div>
                </div>
              
          </div>
          <a
            class="front-page-link"
            
            >{{recipe.name}}
          </a>
        </div>
      {% endfor %}
    </div>
  </div>
</div>
{% endblock %}

