{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}
{% load crispy_forms_tags %}
{% block title %}Recimies:{{object.name}}{% endblock %}
{% block script %}<script defer src="{% static 'js/recipeView.js'%}"></script>{% endblock %}
{% block content %}

<div class="page-content">
    <div class="recipe-header recipe-header--mobile">
        <p class="recipe-header__title recipe-header__title--mobile">{{ object.name }}</p>
        <div class="recipe-header__info--wrapper recipe-header__info">
            <div class="recipe-header__info">
                <p class="recipe-header__info-text">Serves: {{ object.serves}}    </p> 
            </div>
            <div class="recipe-header__info">
                <p class="recipe-header__info-text">Preparation: {{ object.prep_time }} {{ object.prep_time_units }} {% if object.cooking_time > 0 %}&nbsp Cooking: {{ object.cooking_time }} {{object.cooking_time_units}}</p>
                    {% endif %}
            </div>
        </div>
        <hr>
    </div>
    <div class="recipe">
        <div class="ingredient-col">
            <img class="recipe-image" src="/{{object.image_url}}"/>
            <div class="ingredients">
                <h3 class="ingredients__title">Ingredients</h3>
                <div class="ingredients__list">
                    {% for ingredient in ingredients %}
                        <p>{{ingredient.quantity|floatformat:"-3"}} {{ingredient.unit}} {{ingredient.ingredient}}</p>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="vl"></div>
        <div class="method-col">
            <div class="recipe-header recipe-header--desktop">
                <p class="recipe-header__title recipe-header__title--desktop">{{ object.name }}</p>
                <div class="recipe-header__info--wrapper recipe-header__info">
                    <div class="recipe-header__info">
                        <h6 class="recipe-header__info-text">Serves: {{ object.serves}}    </h6> 
                    </div>
                    <div class="recipe-header__info">
                        <h6 class="recipe-header__info-text">Preparation: {{ object.prep_time }} {{ object.prep_time_units }} {% if object.cooking_time > 0 %}&nbsp Cooking: {{ object.cooking_time }} {{object.cooking_time_units}}</h6>
                            {% endif %}
                    </div>
                </div>
                <hr>
            </div>
            <div class="method">
                <h3 class="method__title">Method</h3>
                {% for step in direction %}
                <div class="method__step">
                    <div class="method__step-number">
                        <p>{{ forloop.counter }}.</p>
                    </div>
                    <div class="method__step-text">
                        <p>{{step}}</p>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>

{% endblock %}