{% extends 'base.html' %} 
{% load static %}
{% load widget_tweaks %}
{% load crispy_forms_tags %}
{% block script %}<script defer src="{% static 'js/newRecipeView.js'%}"></script>{% endblock %}

{% block title %}Recimies: Add Recipe{% endblock %}

{% block content %}
{% if user.is_authenticated %}


 
<div class="page-content">
  <div class="form-container">
    {% if recipe.name %}
      <p class="section-title section-title--add-recipe">Edit Recipe</p>
    {% else %}
    <p class="section-title section-title--add-recipe">Add Recipe</p>
    {% endif %}
  {% crispy form %}
  {{ingredient_form.management_form}}
    
    {%for form in ingredient_form%}
    {{ form.id|as_crispy_field }}
    <div class="ingredients ingredient-form form-row">
      <div class="form-group col-6 ing-field ing-input ing-input--ingredient">
      {{form.ingredient|as_crispy_field}}
      </div>
      <div class="form-group col-2 ing-input ing-input--quantity">
      {{form.quantity|as_crispy_field}}
      </div>
      <div class="form-group col-2 ing-input ing-input--unit">
      {{form.unit|as_crispy_field}}
      </div>
      <div class="col-1 delete-form">
        <svg class="ing-bin bin-btn" >
          <use href="{% static 'site_img/logos/icons.svg' %}#bin"></use>
        </svg>
      </div>
      <div class="col-1 add-form">
        <svg class="ing-add add-btn" >
          <use href="{% static 'site_img/logos/icons.svg' %}#icon-plus-circle"></use>
        </svg>
      </div>
    </div>
    {% endfor %}
    <p class="method-form-title">&nbsp&nbsp&nbspMethod</p>
    {{direction_form.management_form}}
    {%for form in direction_form%}
        {{ form.id|as_crispy_field }}
    <div class="direction direction-form form-row">
      <p class="direction__number-step col-1" >1. </p>
      <div class="form-group col-9 dir-field">
      {{form.direction|as_crispy_field}}
      </div>
      <div class="col-1 delete-form">
        <svg class="dir-bin bin-btn">
          <use href="{% static 'site_img/logos/icons.svg' %}#bin"></use>
        </svg>
      </div>
      <div class="add-form col-1">
          <svg class="dir-add add-btn" >
            <use href="{% static 'site_img/logos/icons.svg' %}#icon-plus-circle"></use>
          </svg>
      </div>
    </div>
    {% endfor %}
    <input formnovalidate id="submit-button" type="submit" class="btn btn-success btn-block" value="Save Recipe" />
  </div>
</div>  
 {% endif %} 

{% endblock %}