{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}
{% load crispy_forms_tags %}
{% block title %}Recimies:{{object.name}}{% endblock %}
{% block script %}<script defer src="{% static 'js/recipeView.js'%}"></script>{% endblock %}
{% block content %}
{{ url }}
<div class="page-content">
    <div class="title-container title-container1">
        <p class="recipe-title recipe-title-mobile">{{ object.name }}</p>
        <div class="recipe-info-outer recipe-info" style="font-family: 'Encode Sans Condensed', sans-serif; color: #24323F">
            <div class="recipe-info">
                <h6 class="recipe-info-text">Serves: {{ object.serves}}    </h6> 
            </div>
            <div class="recipe-info">
                <h6 class="recipe-info-text">Preparation: {{ object.prep_time }} {{ object.prep_time_units }} {% if object.cooking_time > 0 %}&nbsp Cooking: {{ object.cooking_time }} {{object.cooking_time_units}}</h6>
                    {% endif %}
            </div>
        </div>
        <hr>
    </div>
    <div class="recipe-container">
        <div class="recipe-row-flex-container">
            <div class="recipe-image-container">
                <img class="recipe-main-image" src="/{{object.image_url}}"/>
            </div>
            <div class="ingredients-list">
                <h3 class="ingredients-title" style="font-family: 'Roboto Condensed', sans-serif; color: #24323F">Ingredients</h3>
                <div class="ingredient-container">
                    <div id="ingredient-column" class="ingredient-column">
                        {% for ingredient in ingredients %}
                            <p>{{ingredient.quantity|floatformat:"-3"}} {{ingredient.unit}} {{ingredient.ingredient}}</p>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        <div class="vl"></div>
        <div class="method row-container">
            <div class="title-container title-container2">
                <p class="recipe-title recipe-title-desktop">{{ object.name }}</p>
                <div class="recipe-info-outer recipe-info" style="font-family: 'Encode Sans Condensed', sans-serif; color: #24323F">
                    <div class="recipe-info">
                        <h6 class="recipe-info-text">Serves: {{ object.serves}}    </h6> 
                    </div>
                    <div class="recipe-info">
                        <h6 class="recipe-info-text">Preparation: {{ object.prep_time }} {{ object.prep_time_units }} {% if object.cooking_time > 0 %}&nbsp Cooking: {{ object.cooking_time }} {{object.cooking_time_units}}</h6>
                            {% endif %}
                    </div>
                </div>
                <hr>
            </div>
            <div  class="method-container">
                <h3 class="method-title" style="font-family: 'Roboto Condensed', sans-serif; color: #24323F;">Method</h3>
                {% for step in direction %}
                <div class="method-step">
                    <div class="number">
                        <p>{{ forloop.counter }}.</p>
                    </div>
                    <div class="step">
                        <p>{{step}}</p>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>

{% endblock %}