{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block script %}
<script defer src="{% static 'js/registerView.js'%}"></script>
{% endblock %}
{% block title %}Recimies: Register{% endblock %}
{% block content %}


<div id="registerModal" class="modal" tabindex="-1" role="dialog">
  <div class="register-box modal-dialog" role="document">
    <!-- Modal content -->
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Register</h5>
        <a href="{% url 'index' %}">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </a>
      </div>
      <div class="modal-body">
        <form method="post" class="register-form" style="display: block;">
          {% csrf_token %}
          {{form.username|as_crispy_field}}
         
          {{form.email|as_crispy_field}}
          {% for error in form.email.errors %}
            {{ error }}
          {% endfor %}
          
          {{form.password1|as_crispy_field}}
          
          {{form.password2|as_crispy_field}}
          
          
          <input class="btn btn-success" id="register-submit" type="submit" value="Register" style="width: 100%">
        </form>
      </div>
    </div>
  </div>
</div>

{% endblock %}
