{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block script %}
<script defer src="{% static 'js/registerView.js'%}"></script>
<script defer src="{% static 'js/site2.js'%}"></script>
{% endblock %}
{% block title %}Recimies: Register{% endblock %}
{% block content %}
<div class="page-content">
  <div class="container-fluid">
    <div class="row">
    </div>
  </div>

  <div class="modal--register  modal" tabindex="-1" role="dialog">
    <div class="modal-dialog--wide" role="document">
      <!-- Modal content -->
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Register</h5>
          <a href="{% url 'index' %}">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </a>
        </div>
        <div class="modal-body">
          <form method="post" class="register-form">
            {% csrf_token %}
            {{form.first_name|as_crispy_field}}
            
            {{form.last_name|as_crispy_field}}
          
            {{form.username|as_crispy_field}}
          
            {{form.email|as_crispy_field}}
            {% for error in form.email.errors %}
              {{ error }}
            {% endfor %}
            
            {{form.password1|as_crispy_field}}
            
            {{form.password2|as_crispy_field}}
            
            
            <input class="btn--wide btn btn-success" type="submit" value="Register">
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
